*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    width:100%;
    overflow-x: hidden;
}

main{
    padding-top: 41px;
}
h1,h2,h3,h4{
    text-align: center;
    font-size: 41px;
    color: grey;
}
nav{
    margin-bottom: 21px;
    position: absolute;
    width: 100%;
}
nav ul{
    background-color: #d0cfcf;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}
nav ul li{
    /* border: 1px solid red; */
    margin-left: 6px;
    padding: 4px;
    text-transform: capitalize;
}
nav ul li a{}


.filmes{
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 22px;
}
.filmes li{
    border: 1px solid #b1a9a9;
    width: 28.1vw;
    margin-right: 20px;
    padding: 1vw;
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    margin-top: 3vh;
}
.filmes li img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 101%;
}
.filmes li div{
    height: 400px;
    position: relative;
    border: 1px dotted #b1b1b1;
    overflow: hidden;
    border-radius: 16px;
}
.filmes .select{
    height: 22px;
    border-radius: 9px;
    padding: 8px;
    transform: translateY(15px);
    z-index: 3;
    border: none;
}
input[type='radio']{visibility:hidden;}